
body{
    padding-top: 50px;
    background-color: #ffffff;
}

html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

.blue_text{
    color: #026ac3;
}

nav {
    background-color: rgba(0,0,53);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.453);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
  }
  
nav ul {
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  



nav li{
    height: 50px;
}

nav a{
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: rgba(0,119,221);
    color: white;
    text-decoration: none;
}

nav li:first-child{
    margin-right: auto;
    font-size: 20px;
    pointer-events: none;
}


.btn{
    margin-top: 10px;
}

.Mobile_Navbar{
position: fixed;
top: 0;
right: 0;
padding: 0;
height: 100vh;
width: 50%;
z-index: 999; 
background-color: rgba(0,0,53);
display: none;
flex-direction: column;
justify-content: flex-start;
align-items: center;
}

.Mobile_Navbar li{
width: 100%;
}
.Mobile_Navbar a{
    width: 100%;
    margin-top: 50px;
}
/*
.close_button {
    position: relative;
    right: 30px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
*/

.close_button {
    position: relative;
    width: 30px;
    top: 10px;
    right: 30px;
    list-style: none;
    display: block;
    float: right;
    transition: all 0.75s ease;
}

.Mobile_Hamburger_Menu{
    display: none;
}



/* Adjusting iframe */
iframe{
    width: 1000px;
    height: 540px;
}

@media(max-width: 1024px) {
    iframe{
        width: 900px;
        height: 480px;
    }
}

/* Nav Bar collapses, Hamburger menu shows, Tablet Nav bar shows */

@media(max-width: 847px) {

    iframe{
        width: 700px;
        height: 360px;
    }

    .collapse_on_mobile {
        display: none;
    }
    
    .Mobile_Hamburger_Menu{
        display: block;
    }


    .Mobile_Navbar{
        width: 50%;
    }

  
}
@media(max-width: 770px) {

    iframe{
        width: 650px;
        height: 360px;
    }
  
}

/* Nav bar for iphone pro max and large phone models */

@media(max-width: 462px) {
    .collapse_on_mobile {
        display: none;
    }
    
    
    .Mobile_Navbar{
        width: 50%;
    }

    nav ul {
        width: 100%;
    }


    nav li:first-child{
        margin-right: 55%;
    }

    iframe{
        width: 380px;
        height: 210px;
    }
}


@media(max-width: 391px) {

    iframe{
        width: 360px;
        height: 200px;
    }

    .Mobile_Navbar{
        width: 60%;
    }

    nav ul {
        width: 100%;
    }


    nav li:first-child{
        margin-right: 48%;
    }
   
}

/* Iphone X and 12, 13 Minis pro screen sizes*/
@media(max-width: 376px) {
    iframe{
        width: 350px;
        height: 200px;
    }
}

/*Smaller screens */
@media(max-width: 361px) {
    iframe{
        width: 335px;
        height: 185px;
    }
}

/*nav bar for very very small phones */
@media(max-width: 330px) {

    iframe{
        width: 300px;
        height: 165px;
    }

    .Mobile_Navbar{
        width: 100%;
    }
}













/*HERO SECTION*/


.Hero_page h3{
    text-align: center;
}

.hero{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: row-reverse;
    padding: 0 60px;
}
.hero img{
    width: 50%;
    height: auto;
}
.hero_content h5{
    font-size: 32px;
    margin-bottom: 15px;
    font-weight: 700;
}
.hero_content h5::after{
    content: "";
    display: block;
    position: relative;
    background-color: #026ac3;
    width: 42%;
    height: 5px;
}

.hero_content{
    width: 50%;
    font-size: 16px;
    
}
/*Hero Responsive on Tablets*/
@media(max-width: 1028px){
    .hero_content h5::after{
        width: 26%;
    }
}
@media(max-width: 838px){
    .hero_content h5::after{
        width: 33%;
    }
    .hero_content{
        font-size: 14px;
        
    }
}

/*Hero Responsive on Mobile */
@media(max-width: 462px) {
    .hero{
        flex-direction: column;
        padding: 0 30px;
    }

    .hero img{
        width: 100%;
        height: auto;
    }
    .hero_content h5{
        font-size: 25px;
    }
    .hero_content{
        width: 100%;
        font-size: 16px;
       
    }

    .hero_content h5::after{
        width: 25%;
    }

}

/*iphone x, 12 mini, 13 mini and others smaller */
@media(max-width: 376px) {
    .hero_content h5::after{
        width: 29%;
    }
}
















/*Card Styling  BOTH HOBBIES AND PORTFOLIO SECTION*/
.Hobbies_cards, .Portfolio_cards{
    margin-bottom: 155px;
}

.Hobbies_cards{
    margin-top: 10%;
}


.Hobbies_cards h5, .Portfolio_cards h5{
    font-size: 36px;
    text-align: center;
    margin-bottom: 20px;
    font-weight: 700;
}
.All_cards{
    width: 85%;
    display: flex;
    justify-content: space-between;
    margin: 40px auto;

}
.Card_image img{
    width: 100%;
    height: auto;
}

.Each_card {
    display: flex;
    flex-direction: column;
    margin: 0 15px;
    border-radius: 8px;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.221);
    overflow: hidden;
}

.card_description {
    padding: 20px;
}

.card_description h6{
   font-size: 20px;
}


/*Card Responsive on Tablets*/
@media(max-width: 838px) {

    .All_cards{
        justify-content: center;
        flex-wrap: wrap;
    }
    .Each_card {
        width: 40%;
        margin-bottom: 20px;
     }
     .Hobbies_cards, .Portfolio_cards{
         margin-bottom: 50px;
     }
  
}
/*Card Responsive on Mobile */
@media(max-width: 462px) {
    .All_cards{
        flex-direction: column;
    }

    .Each_card {
        width: 85%;
        justify-content: space-between;
        flex-wrap: nowrap;
       margin-bottom: 20px;
    }
    .Hobbies_cards, .Portfolio_cards{
        margin-bottom: 50px;
    }
    .Hobbies_cards{
        margin-top: 20%;
    }
}





/*Favorate Vidoes/Books Header*/
.favs{
    text-align: center;
    font-weight: 700;
    font-size: 36px;
    margin-bottom: 30px;
}






/* University Section */
.Uni_section{
    margin: 60px auto;
}
.Uni_section h3{
    font-size: 36px;
    text-align: center;
    font-weight: 700;
}
.Uni_cards{
    margin-top: 35px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 50px;
}
.Uni_cards a{
    width: 50%;
}
.Uni_cards a img{
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 10px 8px rgba(0, 0, 0, 0.221);
}

.Uni_content {
    width: 50%;
}
.Uni_content h5{
    font-size: 20px;
    font-weight: 600;
    margin-bottom: 30px;
}
/*Card Responsive on Tablets*/
@media(max-width: 838px){
    .Uni_cards a{
        width: 65%;
    }
    .Uni_content {
        width: 50%;
    }
    .Uni_content p{
        font-size: 12px;
    }
}
@media(max-width: 815px) {
    

    .Uni_section h3, .favs{
        font-size: 36px;
    }
    .Uni_cards a{
        width: 50%;
    }
    .Uni_content {
        width: 50%;
    }
    .Uni_content p{
        font-size: 13px;
    }

  
}
/*Card Responsive on Mobile */
@media(max-width: 462px) {
    .Uni_section h3, .favs{
        font-size: 26px;
    }

    .Uni_cards{
        margin-top: 35px;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Uni_cards a{
        width: 90%;
    }
    .Uni_content {
        width: 95%;
    }
    
    .Uni_content p{
        font-size: 14px;
    }

}
/*iphone x, 12 mini, 13 mini and others smaller */
@media(max-width: 376px) {
    .Uni_content {
        width: 90%;
    }
}

























/*FORM STYLING */
form{
    width: 60%
}

.each_field label{
    color: #333;
    margin-top: 10px;
}

.required::before{
    content: "* ";
    color: red;
}

form .each_field input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;

    font-size: 15px;
    color: #333;

    
    border: 1px solid grey;
    border-radius: 6px;
    padding: 0 15px;
}

form .gender {
    margin-top: 20px;
}

form .gender_options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 50px;
}

form .options input, .options label{
    cursor: pointer;
    margin-right: 5px;
}

.gender h6{
    margin-bottom: 15px;
}

/*customizing radio button color */
input[type=radio] {
    accent-color: #000035;
}

form .message {
    width: 100%;
    outline: none;
    color: #333;
    margin-top: 10px;
    margin-bottom: 8px;
}

form .message textarea{
    width: 100%;
    height: 200px;
    font-size: 15px;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px 15px;
    color: #333;
    resize: none;
}

form button{
    margin-bottom: 40px;
}

/*Form Responsive Mobile */
@media(max-width: 770px) {

    form{
        width: 80%;
    }
  
}

@media(max-width: 462px) {

    form{
        width: 90%;
    }
}




/*Footer Styling*/
footer {
    background-color: rgba(0,0,53);
    text-align: center; 
    padding: 20px 0;
    position: relative; 
    bottom: 0; 
    width: 100%; 
}

footer p {
    margin: 0;
    font-size: 14px; 
    color: white;
}


/*Footer Responsive on Mobile */
@media(max-width: 462px) {
    footer p {
        font-size: 11px; 
    }
}