body{
    padding-top: 60px;
}
html{
    scroll-behavior: smooth;
    scroll-padding-top: 60px;
}

nav {
    background-color: rgba(0,0,53);
    box-shadow: 0px 2px 3px rgba(0, 0, 0, 0.453);
    position: fixed;
    top: 0;
    width: 100%;
    height: 50px;
    z-index: 999;
  }
  
nav ul {
    width: 95%;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
  }
  



nav li{
    height: 50px;
}

nav a{
    text-decoration: none;
    height: 100%;
    padding: 0 30px;
    display: flex;
    align-items: center;
    color: white;
}

nav a:hover {
    background-color: rgba(0,119,221);
    color: white;
    text-decoration: none;
}

nav li:first-child{
    margin-right: auto;
    font-size: 20px;
    pointer-events: none;
}


.btn{
    margin-top: 10px;
}

.Mobile_Navbar{
position: fixed;
top: 0;
right: 0;
height: 100vh;
width: 50%;
z-index: 999; 
background-color: rgba(0,0,53);
display: none;
flex-direction: column;
justify-content: flex-start;
align-items: center;

}

.Mobile_Navbar li{
width: 100%;
}
.Mobile_Navbar a{
    width: 100%;
    margin-top: 50px;
}
/*
.close_button {
    position: relative;
    right: 30px;
    list-style: none;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}
*/

.close_button {
    position: relative;
    width: 30px;
    top: 10px;
    right: 30px;
    list-style: none;
    display: block;
    float: right;
}

.Mobile_Hamburger_Menu{
    display: none;
}



/* Adjusting iframe */
iframe{
    width: 1000px;
    height: 540px;
}

@media(max-width: 1024px) {
    iframe{
        width: 900px;
        height: 480px;
    }
}

/* Nav Bar collapses, Hamburger menu shows, Tablet Nav bar shows */

@media(max-width: 847px) {

    iframe{
        width: 700px;
        height: 360px;
    }

    .collapse_on_mobile {
        display: none;
    }
    
    .Mobile_Hamburger_Menu{
        display: block;
    }


    .Mobile_Navbar{
        width: 50%;
    }

  
}
@media(max-width: 770px) {

    iframe{
        width: 650px;
        height: 360px;
    }
  
}

/* Nav bar for iphone pro max and large phone models */

@media(max-width: 462px) {
    .collapse_on_mobile {
        display: none;
    }
    
    
    .Mobile_Navbar{
        width: 50%;
    }

    nav ul {
        width: 100%;
    }


    nav li:first-child{
        margin-right: 55%;
    }

    iframe{
        width: 380px;
        height: 210px;
    }
}

/* Nav Bar collapses, Hamburger menu shows, Mobile Nav bar shows */
@media(max-width: 391px) {

    iframe{
        width: 360px;
        height: 200px;
    }

    .Mobile_Navbar{
        width: 60%;
    }

    nav ul {
        width: 100%;
    }


    nav li:first-child{
        margin-right: 48%;
    }
   
}

@media(max-width: 376px) {
    iframe{
        width: 350px;
        height: 200px;
    }
}

/*nav bar for very very small phones */
@media(max-width: 330px) {

    iframe{
        width: 300px;
        height: 165px;
    }

    .Mobile_Navbar{
        width: 100%;
    }
}

/*FORM STYLING */
form{
    width: 60%
}

.each_field label{
    color: #333;
    margin-top: 10px;
}

.required::before{
    content: "* ";
    color: red;
}

form .each_field input{
    position: relative;
    height: 50px;
    width: 100%;
    outline: none;

    font-size: 15px;
    color: #333;

    
    border: 1px solid grey;
    border-radius: 6px;
    padding: 0 15px;
}

form .gender {
    margin-top: 20px;
}

form .gender_options {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    column-gap: 50px;
}

form .options input, .options label{
    cursor: pointer;
    margin-right: 5px;
}

.gender h6{
    margin-bottom: 15px;
}

/*customizing radio button color */
input[type=radio] {
    
    accent-color: #000035;
}

form .message {
    width: 100%;
    outline: none;
}

form .message textarea{
    width: 100%;
    height: 200px;
    font-size: 15px;
    padding: 0 15px;
    border: 1px solid grey;
    border-radius: 6px;
    padding: 5px 15px;
    color: #333;
}


@media(max-width: 770px) {

    form{
        width: 80%;
    }
  
}

@media(max-width: 462px) {

    form{
        width: 90%;
    }
}